<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">POS Payments with iPay</h2>
            <h3 class="oe_slogan">Make POS payments easily with iPays POS.</h3>
        </div>
    </div>
</section>
